<html>
<!-- $Id: archive_summary.tt2 428 2006-08-30 02:00:57Z corrupt $ -->
    <head>
        <title>[ mikey's blog ]</title>
        <link href="style/mikey_g.css" rel="stylesheet" type="text/css">
    </head>
    <div class="main_column">
        <div class="article_spacer"><img src="theme_images/[% fe.theme %]/nothing.gif" height="6" width="1"></div>
        <div class="article">
            [% min_time = fe.ai.min_time('create') %]
            [% fe.ci.switch_to_this_month %]
            [% fe.ci.next_month %]
            [% end_time = fe.ci.dim %]
            [% year = fe.ci.year %]
            <div class="css_dotted"></div><br>
            <div class="title_text">
                [% fe.ci.year %]
                </div><br><div class="css_dotted"></div><br>
            [% WHILE (month != min_time.1 || year != min_time.0) %]
                [% month = fe.ci.month %]
                [% fe.ci.last_month %]
                [% IF fe.ci.year != year %]
                    <div class="css_dotted"></div><br>
                    <div class="title_text">
                        [% fe.ci.year %]
                    </div><br><div class="css_dotted"></div><br>
                    [% year = fe.ci.year %]
                [% END %]
                [% start_time = fe.ci.dim %]
                [% article_count = fe.ai.count_articles_by_date_range(start_time, end_time, 'create') %]
                [% UNLESS article_count %]
                    [% end_time = start_time %]
                    [% NEXT %]
                [% END %]
                <div class="header_text">
                    [% fe.ci.month_name %]
                </div>
                <ul>
                    [% IF article_count %]
                        [% FOREACH article = fe.ai.articles_by_date_range(start_time, end_time, 'create') %]
                        <li><a href="/article/archived/[% article.id %]/" title="open article '[% article.subject %]'">([% article.category %]): [% article.subject %]</a>
                        [% END %]
                    [% ELSE %]
                        <li>No entries
                    [% END %]
                </ul>
                [% end_time = start_time %]
            [% END %]
            <br>
            <div align="center">
                <a href="/" title="go back to the main page">back to main page</a>
            </div>
            <br>
        </div>
    </div>
    </body>
</html>
